body {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
main {
  margin-left: 37em;
  margin-right: 37em;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#header {
  background-color: hwb(36 70% 0% / 0.836);
  padding: 0.5em;
  margin-left: 0;
  margin-right: 0;
  color: aqua;
}
#logo-top {
  width: 15em;
}
ul {
  text-align: justify;
}
ol {
  text-align: justify;
  font-size: larger;
  font-weight: bold;
}

#photo {
  border-radius: 30px 30px;
}
.blu-hr {
  border-color: aqua;
}
.orange-hr {
  border-color: orange;
}
#author {
  color: grey;
  padding: 0.5em;
}
#feature {
  text-align: justify;
  border-left: 2em orange;
}
#featured {
  color: orange;
}
a {
  color: aqua;
}
#big-text {
  font-size: larger;
  font-weight: bolder;
}
.ingr {
  text-align: justify;
}
.focc {
  text-align: justify;
}
#lists li {
  padding: 0.5em;
}
#p-end {
  text-align: justify;
}
#info p {
  text-align: justify;
}
#orange-hr {
  color: orange;
}
#footer {
  text-align: justify;
}
